/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* login-meme */

.login-main {
    width: 100vw;
    height: 100vh;
	background-color: #17183B;
	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome{
	margin-top: 150px;
	font-size: 20px;
}

.login-form {
    width: 500px;
    height: 500px;
	background-color: #596869;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border-radius: 50%;
}

.extra-circle {
	width: 500px;
	height: 500px;
	background-color: #1C0221;
	margin-right: 200px;
	margin-bottom: 500px;
	border-radius: 50%;
}

.extra-circle2 {
	width: 500px;
	height: 500px;
	background-color: #B8D8D8;
	border-radius: 50%;
	margin-top: 200px;
}



.form-user-login {
	width: 400px;
	height: 300px;
	background: none;
	 padding: 10px;
	 margin-top: 20px;
}


.form-user-login > label{
	margin-left: 40px;
	font-size: 24px;
	font-family: 'Abril Fatface', serif;
	font-weight: 500;
	color: rgb(24, 24, 24);
}

.form-user-login label:hover {
	color: #FFBA08;
	cursor: pointer;
}

.form-user-login input {
	margin: 15px 0px 15px 40px;
	width: 190px;
	height: 30px;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
 	font-weight: 300;
	font-size: 12px;
	padding-left: 10px;
	border: none;
}

.login-button {
	height: 50px;
	width: 150px;
	border-radius: 7px;
	font-size: 18px;
	background-color: rgb(24, 24, 24);
	cursor: pointer;
	color: rgba(255, 255, 255, 0.943);
}

.login-button:hover {
	background-color: #FFBA08;
	cursor: pointer;
}

input[type=submit].login-button {
	font-size: 18px;
	font-family: 'Abril Fatface', serif;
}

.errors {
	margin-left: 100px;
	line-height: 20px;
	color: white;
	font-family: 'Open Sans', sans-serif;
}


/* smiley face */

    .face{ 
		position: relative; 
        width: 200px; 
        height: 200px; 
        border-radius: 50%; 
        background: #ffd528; 
        display: flex; 
        justify-content: center; 
		align-items: center; 
		margin-bottom: 100px;
		margin-left: 25px;
		margin-top: 30px;
		cursor: pointer;
	} 
	
	.face:hover {
		background-color: #FF5F6D;
		background-image:
		linear-gradient(
		#FF5F6D, #ffc371
		);
	}

    .face::before { 
        content: ""; 
        position: absolute; 
        top: 120px; 
        width: 150px; 
        height: 70px; 
        background: #FFBA08; 
        border-bottom-left-radius: 70px; 
        border-bottom-right-radius: 70px; 
        transition: 0.5s; 
    } 
    .face:hover::before { 
        top: 120px; 
        width: 150px; 
        height: 20px; 
        background: #FFBA08; 
        border-bottom-left-radius: 0px; 
        border-bottom-right-radius: 0px; 
    } 
    .eyes { 
        position: relative; 
        top: -30px; 
        display: flex; 
    } 
    .eyes .eye { 
        position: relative; 
        width: 60px; 
        height: 60px; 
        display: block; 
        background: #fff; 
        margin: 0 15px; 
        border-radius: 50%; 
    } 
    .eyes .eye::before { 
        content: ""; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        width: 40px; 
        height: 40px; 
        background: #333; 
        border-radius: 50%; 
	} 
	
	