/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* sign up form */

.signup-form-container {
    width: 100vw;
    height: 100vh;
	background-color: #17183B;
	display: flex;
	justify-content: center;
	align-items: center;
	/* cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😀</text></svg>") 16 0,auto; /*!emojicursor.app*/; */
}

.signup-block {
	width: 350px;
    height: 500px;
	background-color: #596869;
	position: absolute;
	display: flex; 
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.signup-block label {
	/* margin-left: 50px; */
	text-align: center;
	font-size: 24px;
	font-family: 'Abril Fatface', serif;
 	font-weight: 500;
	color: rgb(24, 24, 24);
}

.signup-block label:hover {
	color: #FFBA08;
	cursor: pointer;
}

.signup-block input {
	margin: 15px 0px 15px 0px;
	width: 190px;
	height: 30px;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
 	font-weight: 300;
	font-size: 12px;
	padding-left: 10px;
	border: none;
}

.signup-button {
	background-color: rgb(24, 24, 24);
	font-family: 'Abril Fatface', serif;
	color: rgba(255, 255, 255, 0.943);
}

.signup-button:hover{
	background-color: #FFBA08;
	cursor: pointer;
}

input[type=submit].signup-button {
	font-size: 16px;
	font-family: 'Abril Fatface', serif;
	font-weight: 600;
}


/* eye animated */



.one-eye{
  background:white; 
  height:100px;
  width:100px; 
  position:absolute;
  margin-bottom: 43.5vh;
  margin-left: 5vw;
  transform:translate(-50%,-50%) rotate(45deg);
  border-radius : 75% 0;
  overflow:hidden;
  z-index: 1;
}
.ball{
  width:40px; 
  height:40px; 
  background: #222f3e;
  border-radius: 50%; 
  border: 30px solid #576;
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

.shut{
  width:300px; 
  height:160px; 
  top:50%; 
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%) rotate(-45deg);
  z-index:3;
}

.shut span{
  display:block;
  width:100%; 
  height:15%; 
  background:#ff6b6b; 
  border-radius: 0 0 60% 60%;
  transition:0.5s all; 
}

.one-eye:hover >.shut span{
  height:100%;
}
